<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>{{post.title}}</h3>
  <br>
  <p>{{post.pub_date}}</p>
  <br>
  <p>{{post.content}}</p>
  <br>
  <div>The number of like : {{post.like_num}}</div>

  <a href="{% url 'like' post.id %}">
    {% if post in account.like_post.all %}
    cancel
    {% else %}
    Like
    {% endif %}
  </a>

  <a href="{% url 'update' post.id %}"><button>Edit</button></a>
  <a style="margin-left: 5px" href="{% url 'delete' post.id %}"><button>Delete</button></a>
  <a style="margin-left: 5px" href="{% url 'home' %}"><button>Home</button></a>
</body>

</html>