<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>My Blog</h1>
  {% if user.user.is_authenticated %}
  <p>Welcome {{user.nickname}}!</p>
  <a href="{% url 'post' %}"><button>Post</button></a>
  <a href="{% url 'logout' %}"><button>Sign-out</button></a>
  <a href="{% url 'modify' %}"><button>Settings</button></a>
  {% else %}
  <a href="{% url 'signup' %}"><button>Sign-up</button></a>
  <a href="{% url 'login' %}"><button>Sign-in</button></a>
  {% endif %}

  <br>
  {% for obj in post %}
  <div>
    <a href="{% url 'detail' obj.id %}">
      <h3>{{obj.title}}</h3><br>
      <p>{{obj.pub_date}}</p><br>
      <p>{{obj.content}}</p>
    </a>
  </div>
  {% endfor %}
</body>

</html>